* {
    box-sizing: border-box;
}
.hr {
    height: 5px;
    background: #1188f788;
}
.photo {
    margin-left: 35%;
    margin-top: -23%;
}
.video-2 {
    margin-bottom: -21%;
    margin-left: -30%;
}
.logo {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #95E1D3;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}